<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LAYOUT</title>
  <link rel="stylesheet" href="Styles.css" />
</head>
<body>
       <h1>TEN</h1>
       <hr></hr>
       <h1>NINE</h1>
       <hr></hr>
       <h1>EIGHT</h1>
       <hr></hr>
       <h1>SEVEN</h1>
       <hr></hr>
       <h1>SIX</h1>
       <hr></hr>
       <h1>FIVE</h1>
       <hr></hr>
       <h1>FOUR</h1>
       <hr></hr>
       <h1>THREE</h1>
       <hr></hr>
       <h1>TWO</h1>
       <hr></hr>
       <h1>ONE</h1>
</body>
</html>