body{
    background: black;
    padding-left: 35%;
    padding-right: 35%;
}
h1{
    text-align: center;
    font-family: BlinkMacSystemFont;
    color: rgba(255, 255, 255, 0.877);
    letter-spacing: 50px;
    margin-bottom:-5px;
    margin-left: 50px;
}
hr{
    height: 15px;
    background-color: rgba(60, 147, 150, 0.904);
    margin-bottom:-15px;
}