* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.container {
    background-color: rgba(146, 5, 247, 0.811);
    height: 90vh;
    width: 60vw;
    border-radius: 15px;
    display: flex;

}

.item1 {
    height: 88vh;
    margin: 5px 0 5px 5px;
    width: 15vw;
    background-color: white;
    justify-content: flex-start;
    border-radius: 15px 0px 0px 15px;
    padding: 20px;

}

.item2 {
    height: 98%;
    margin: 5px 5px 0px 0;
    width: 45vw;
    background-color: rgba(159, 65, 227, 0.229);
    border-radius: 0px 15px 15px 0px;
    padding: 40px;
}

img {
    width: 30%;
    border-radius: 50%;
}

.header {
    position: relative;
    top: -50px;
    left: 65px;
}

h3 {
    font-weight: 400;
}

hr {
    position: relative;
    top: 40px;
    left: -50px;
    background-color: rgba(93, 7, 233, 0.603);
    height: 2px;
    border: 2px solid transparent;
    width: 170px;
}

.material-symbols-rounded {
    font-size: 30px;
    color: rgb(87, 31, 177);
}

.material-icons {
    font-size: 15px !important;
}

ul li {
    list-style-type: none;
    padding: 8px;
}

span {
    padding-right: 20px;
}

.one {
    position: relative;
    left: 45px;
}

.material-symbols-outlined {
    position: relative;
    top: 6px;
}

h1,
h2 {
    color: white;
    padding-left: 50px;
}

p {
    padding: 9px;
}

input[type="text"].firsttext {
    width: 530px;
    height: 50px;
    margin: 20px 35px 0 30px;
    border-radius: 15px;
    border: 1px solid transparent;
    font-size: 15pt;
}

.head {
    padding-top: 40px;
}

p .material-icons {
    position: relative;
    top: 58px;
    left: 40px;
    padding: 1px;

}

p .material-symbols-outlined {
    position: relative;
    top: -35px;
    left: 465px;
    margin: -2px;
    color: rgb(87, 31, 177);
}

::placeholder {
    color: rgba(128, 128, 128, 0.349);
}


input[type="text"].secondtext {
    width: 500px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid transparent;
    font-size: 15pt;
    margin-top: 6px;
    margin-left: 26px;
}

input[type="text"].thirdtext {
    width: 500px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid transparent;
    font-size: 15pt;
    margin-left: 26px;
    margin-top: -10px;
}

input[type="text"].fourthtext {
    width: 500px;
    height: 50px;

    border-radius: 15px;
    border: 1px solid transparent;
    font-size: 15pt;
    margin-top: -10px;
    margin-left: 26px;

}

input[type="text"].fifthtext {
    width: 500px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid transparent;
    font-size: 15pt;
    margin-left: 26px;
    margin-top: -10px;
}

.material-icons.one {
    position: relative;
    top: 1px;
    left: 60px;
    color: pink;
}

.material-icons.two {
    position: relative;
    top: 1px;
    left: 60px;
    color: skyblue;
}

.material-icons.three {
    position: relative;
    top: 1px;
    left: 60px;
    color: rgba(255, 187, 0, 0.963);
}

.material-icons.four {
    position: relative;
    top: 1px;
    left: 60px;
    color: pink;
}

.secondtext::placeholder {
    color: rgba(7, 1, 1, 0.692);
    font-size: 13pt;
}

.thirdtext::placeholder {
    color: rgba(7, 1, 1, 0.692);
    font-size: 13pt;
}

.fourthtext::placeholder {
    color: rgba(7, 1, 1, 0.692);
    font-size: 13pt;
}

.fifthtext::placeholder {
    color: rgba(7, 1, 1, 0.692);
    font-size: 13pt;
}

.material-symbols-outlined.checking {

    position: relative;
    left: -50px;
    top: 8px;
}

.material-symbols-outlined.circle-one {

    position: relative;
    left: -50px;
    top: 8px;
    color: rgba(128, 128, 128, 0.533);
}
