body{
    background: white;
}
h1{
    color: brown;
    text-align: center;
    font-family: Cambria,Cochin,serif;
}
img{
    position: absolute;
    top: 70px;
    right: 10px;
}
.first{
    display:flex;
    margin-bottom: -30px;
    color:palevioletred;
}
.text{
    width:80%;  
}
.image{
    width: 20%;
}
.second{
    color:palevioletred; 
}