body{
    background: whitesmoke;
}
h1,h2{
    color: gold;
    font-family: 'Franklin Gothic Medium';
}
h3{
    color: brown;
    font-family: 'Times New Roman';
}
h4{
    color: blue;
    font-family: inherit;
}
h5{
    color: orange;
    font-family:cursive;
}
h6{
    color: goldenrod;
    font-family:Georgia;
}
h7{
    color:palevioletred;
    font-family:Lucida;
}

   